$background-color: #12171a;

$media-query-md: 768px;

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  height: 100%;

  #root{
    padding-top: 2rem;
  }
}

// Personalized CSS

.full-section{
  padding: 18rem 0;
}

.partial-section{
  padding: 8rem 0;
}

.clean-linkrouter{
  text-decoration: none !important;
  outline: none;
}

#landingpage{

  #title{
    letter-spacing: 3px;
  }

  #subtitle{
    letter-spacing: 1px;
  }

  @media only screen and (min-width: $media-query-md) {
    .h-md-50{
      height: 50% !important;
    }
  } 
}


