$waffletime-blue: #32a5fd;
$waffletime-yellow: #fee300;
$waffletime-red: #fa0002;
$mis-color : #ff753d;
$night-color: #3a3585;
$text-dark: #343a40;
$text-secondary: #6c757d;

$media-query-md: 768px;

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  #root{
    padding-top: 2rem;
  }

  .navbar{
    background-color: $waffletime-red; 
  }
}

// Personalized CSS

.nightBG{
  background: linear-gradient($night-color, #333) !important;
}
.full-section{
  padding: 18rem 0;
}

.partial-section{
  padding: 8rem 0;
}

.clean-linkrouter{
  text-decoration: none !important;
  outline: none;
}

.loading{
  cursor: pointer;
  position: fixed;
  left: 50%;
  bottom: 40%;
}

.waffletime-yellow{
  color: $waffletime-yellow !important;
}

#landing-section{
  background-color: $waffletime-blue;
  position: relative;

  .main {
    position: fixed;
    bottom: 5%;
    text-align: right;
    right: 2%;
    
    #title{
      letter-spacing: 3px;
      color: $waffletime-yellow
    }
  
    #subtitle{
      letter-spacing: 1px;
    }  
  }

  .cloud{
    position: absolute;
  }

  #cloud1{
    width: 20%;
    top: 40%;
    right: 50%;
    opacity: .75;
    -webkit-animation: cloudMoveFirstRight infinite 20s linear alternate;
    animation: cloudMoveFirstRight infinite 20s linear alternate;
  }

  #cloud2{
    width: 15%;
    top: 20%;
    right: 20%;
    opacity: .30;
    -webkit-animation: cloudMoveFirstLeft infinite 15s linear alternate;
    animation: cloudMoveFirstLeft infinite 15s linear alternate;
  }

  #cloud3{
    width: 10%;
    top: 5%;
    left: 10%;
    opacity: .6;
    -webkit-animation: cloudMoveFirstLeft infinite 10s linear alternate;
    animation: cloudMoveFirstLeft infinite 10s linear alternate;
  }

  #cloud4{
    width: 10%;
    bottom: 5%;
    right: 10%;
    opacity: .3;
    -webkit-animation: cloudMoveFirstRight infinite 15s linear alternate;
    animation: cloudMoveFirstRight infinite 15s linear alternate;
  }

  @keyframes cloudMoveFirstRight {
    0%
    {
      transform: translateX(-100%);
    }
    100%
    {
      transform: translateX(15%);
    }
  }

  @keyframes cloudMoveFirstLeft {
    0%
    {
      transform: translateX(100%);
    }
    100%
    {
      transform: translateX(15%);
    }
  }
}

#manage-section{
  nav{
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 1020;
  }

  a{
    color: $text-secondary !important;
  }
}



